/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 6, 2022, 5:12:04 PM
    Author     : phuon
*/

* {
    box-sizing: border-box;
    font-family: Maven Pro;
}

.body {
    display: grid;
    grid-auto-row: 160px;

    & > .row {
        padding: 16px;
        background: #dddddd;
    }

    & > .row:nth-of-type(even) {
        background: #fff;
        .image-label  {
            border: 1px dashed #E4E4E4;
        }
    }

    & > .row:nth-of-type(odd) .image-label {
        border: 1px dashed #fff;
    }
}

.image-label {
    box-sizing: border-box;
    padding: 0px !important;
    min-width: 158px;

    img {
        display: block !important;
    }
}

.image {
    position: relative;

    img {
        max-width: 158px;
        object-fit: cover;
        transition: all 0.2s;
        max-height: 100% !important;
    }
}

.col.image {
    width: auto;
    max-height: 160px;
}

hr {
    display: block; height: 1px;
    border: 0; border-top: 1px solid #ccc;
    margin: 1em 0; padding: 0;
}

.image-label {
    height: 100% !important;
}

.col {
    width: 100%;
    height: 100%;
    gap: 8px;
    display: flex;
    flex-direction: column;
}

.row {
    gap :16px !important;
}

@media all and (max-width: 1050px) {
    .image {
        max-width: 100%;
    }

    .row {
        flex-direction: column;
    }

    .col.col-resp {
        flex-direction: row;
        align-items: center;

        & > small {
            width: 250px;

            @media all and (max-width: 500px) {
                width: auto;
            }
        }
    }

    .col.image {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.btn {
    outline: none;
    width: 100%;
    height: 100%;
    border: none;
    color: white;
    padding: 18px;
    cursor: pointer;
}

.btn.del-btn {
    background: #ea6153;
}

.btn.confirm-btn {
    background: #27ae60;
}

input {
    height: 52px;
}

.header {
    margin-bottom: 3rem;
    top: 16px;
}

.search-bar {
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    input {
        border: 1px solid #E4E4E4;
        padding: 16px;
        width: 100%;
        box-sizing: border-box;
        outline: none;
    }

    button {
        padding: 16px;
        border: none;
        outline: none;
        min-width: 80px;
        background: linear-gradient(135deg, #ff934b 0%, #ff5e62 100%);
        box-sizing: border-box;

        img {
            width: 16px;
            height: 16px;
            stroke: white;
            fill: white;
        }
    }
}

.centered {
    margin: 0 auto;
    max-width: 960px;
}